<div>
  <section layout="row" flex>
    <md-sidenav  class="md-sidenav-left" md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
    md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Actions</h1>
    </md-toolbar>
    <md-content layout-padding>
      <md-button ng-click="" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button>
      <md-content><md-button type="button" class="md-raised md-primary" ng-click="dashboardCtrl.newEmail()">New email</md-button></md-content>
      <md-content><md-button type="button" class="md-raised md-primary" ng-click="dashboardCtrl.newTemplate()">New template</md-button></md-content>
      <md-content><md-button type="button" class="md-raised md-warn" ng-click="dashboardCtrl.editTemplate()">{{dashboardCtrl.editString}}</md-button></md-content>
      <md-content><md-button type="button" class="md-raised md-warn" ng-click="dashboardCtrl.logout()">Logout, {{dashboardCtrl.username}}</md-button></md-content>
    </md-content>
  </md-sidenav>


  <md-content flex layout-padding>
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">{{dashboardCtrl.email}} templates</div>
    </md-toolbar>
    <section>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="template in dashboardCtrl.templates" ng-click="dashboardCtrl.useTemplate(template.text)">
          <img ng-src="{{dashboardCtrl.imagePath}}" class="md-avatar" alt="{{template.name}}">
          <div class="md-list-item-text">
            <h3>{{template.name}}</h3>
            <md-input-container>
              <textarea id="tempText" name="tempText" aria-label="tempText" ng-model="template.text" rows="1" md-select-on-focus ng-disabled="!dashboardCtrl.editing"></textarea>
            </md-input-container>
            <md-button type="button" class="md-raised md-warn" ng-click="dashboardCtrl.deleteTemplate($index)">delete</md-button>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>

</section>
</div>
</div>
